.paper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;
}
.paperTwo {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;
  background: green;
  background-image: green;
 
}


.markerContainer {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.markerContainer:hover {
  z-index: 2;
}

.pointer {
  cursor: pointer;
}

.modal {
  position: fixed;
  z-index: 9000;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}
